@charset "UTF-8";
/*Partials*/
@font-face {
  font-family: "arialbold";
  src: url("../font/ArialNova-Bold.woff") format("woff"), url("../font/ArialNova-Bold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: "ariallight";
  src: url("../font/ArialNova-Light.woff") format("woff"), url("../font/ArialNova-Light.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
/*Modules*/
h1,
h2 {
  margin: 0px;
}

buttton:focus {
  outline: none;
  border: none;
}

/*Colour style guide*/
.header_container {
  background-color: #f4f8fd;
  padding: 54px 0px 49px 0px;
}
@media only screen and (max-width: 767px) {
  .header_container {
    padding: 34px 0px 49px 0px;
  }
}
.header_container .wrapper {
  margin-bottom: 89px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .header_container .wrapper {
    margin-bottom: 50px;
  }
}
.header_container form {
  display: flex;
  align-items: flex-end;
  border-radius: 4px;
  box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding: 18px 20px 19px 22px;
}
@media only screen and (max-width: 767px) {
  .header_container form {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header_container form label {
  display: block;
  font-size: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
  color: #53627c;
}
.header_container form .text_input {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  padding-left: 15px;
  border: solid 1px #eceff4;
  background-color: #f4f6fa;
  outline: none;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  color: #9da6b8;
  font-family: "ariallight";
}
@media only screen and (max-width: 767px) {
  .header_container form .text_input {
    width: 100%;
  }
}
.header_container form .text_input:focus {
  border: solid 1px #4e69ff;
  background-color: #ffffff;
}
.header_container form .text_input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  color: #9da6b8;
  font-family: "ariallight";
}
.header_container form .one {
  width: 42%;
}
@media only screen and (max-width: 767px) {
  .header_container form .one {
    width: 100%;
  }
}
.header_container form .two {
  width: 42%;
  margin-left: 11px;
  margin-right: 10px;
}
@media only screen and (max-width: 767px) {
  .header_container form .two {
    width: 100%;
    margin-left: inherit;
    margin-right: inherit;
    margin: 20px 0px;
  }
}
.header_container form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 35px;
  border-radius: 4px;
  background-color: #4cbcfe;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "arialbold";
  font-weight: bold;
  font-weight: bold;
}
.header_container form button i {
  margin-left: 10px;
  font-size: 13px;
}
.header_container .header_text {
  font-size: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  text-align: center;
  margin-top: 19px;
  color: #9da6b8;
  font-family: "ariallight";
}

/*header container*/
.jobs_listings_container {
  border: solid 1px #e3eefa;
  background-color: #e9f3ff;
  padding: 37px 0px 39px 0px;
}
.jobs_listings_container .title {
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "arialBold";
  color: #53627c;
  font-weight: bold;
  text-align: center;
}
.jobs_listings_container .subtitle {
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  color: #75808b;
  text-align: center;
  margin-top: 10px;
  font-family: "ariallight";
}
@media only screen and (max-width: 767px) {
  .jobs_listings_container .subtitle {
    margin-top: 15px;
  }
}

/*jobs listings container*/
.find_job_section {
  padding: 48px 0px 49px 0px;
}
@media only screen and (max-width: 767px) {
  .find_job_section {
    padding: 40px 0px 49px 0px;
  }
}
.find_job_section .title {
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
  color: #53627c;
  margin-top: 30px;
  margin-bottom: 7px;
  font-family: "arialbold";
}
.find_job_section .title span {
  color: #4e6cff;
}
.find_job_section .subtitle {
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  color: #53627c;
  font-family: "ariallight";
}
.find_job_section .content {
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  color: #53627c;
  font-family: "ariallight";
  text-align: left;
  margin-top: 40px;
}
@media only screen and (max-width: 767px) {
  .find_job_section .content {
    margin-top: 20px;
  }
}
.find_job_section .btn_wrapper {
  margin-top: 20px;
}
.find_job_section .btn_wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 35px;
  border-radius: 4px;
  background-color: #ffc600;
  border: none;
  outline: none;
  color: #53627c;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "arialbold";
  font-weight: bold;
}
.find_job_section .btn_wrapper button i {
  margin-left: 10px;
  font-size: 13px;
}
.find_job_section .img_wrapper {
  position: relative;
  box-shadow: 0px 7px 14.6px 1.4px rgba(0, 0, 0, 0.16), inset 0px 1px 1px 0 #ffffff;
  background-color: #ffffff;
  padding: 20px;
}
.find_job_section .img_wrapper img:nth-child(1) {
  width: 100%;
}
.find_job_section .img_wrapper img:nth-child(2) {
  position: absolute;
  /*width:100%;*/
  top: 45%;
  left: 45%;
  translate: -45%, -45%;
}
.find_job_section .img_wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4%;
  bottom: 0;
  left: 0;
  opacity: 0.05;
  background-image: linear-gradient(to bottom, #ffffff, #cdcbd5);
}

/*find jobs section*/
.main_body_container {
  background-color: #f4f6fa;
  padding: 79px 0px 28px 0px;
}
@media only screen and (max-width: 767px) {
  .main_body_container {
    padding: 40px 0px 28px 0px;
  }
}
.main_body_container .listings_box {
  margin-bottom: 22px;
}
.main_body_container .listings_box ul {
  padding: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 15px 7px 15px;
  font-family: "arialbold";
  border-radius: 4px;
  background-color: #ffffff;
}
.main_body_container .listings_box ul li {
  padding-left: 11px;
  display: flex;
  align-items: center;
  width: 171px;
  height: 30px;
  list-style: none;
  border-radius: 15px;
  border: solid 1px #eceff4;
  background-color: #f4f6fa;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
  color: #53627c;
  font-family: "arialbold";
  margin-bottom: 10px;
  margin-left: 4px;
}
.main_body_container .listings_box ul li svg {
  width: 8px;
  margin-right: 5px;
}
.main_body_container .content_box {
  border-radius: 4px;
  box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  padding-bottom: 30px;
  margin-bottom: 22px;
}
.main_body_container .content_box .img_wrapper {
  position: relative;
}
.main_body_container .content_box .img_wrapper img {
  width: 100%;
}
.main_body_container .content_box .img_wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.05) 66%, #ffffff);
  /* bottom: 0px; */
  top: 0px;
  bottom: 0px;
}
.main_body_container .content_box .title {
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: bold;
  color: #53627c;
  padding-left: 33px;
  margin-bottom: 18px;
  font-family: "arialbold";
}
.main_body_container .content_box .content {
  padding-left: 33px;
  padding-right: 38px;
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  color: #75808b;
  font-family: "ariallight";
}
.main_body_container .content_box .btn_wrapper {
  margin-top: 20px;
  padding-left: 33px;
}
.main_body_container .content_box .btn_wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 35px;
  border-radius: 4px;
  background-color: #4cbcfe;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-family: "arialbold";
  font-weight: bold;
}
.main_body_container .content_box .btn_wrapper button i {
  margin-left: 10px;
  font-size: 13px;
}
.main_body_container .trademark_text {
  font-size: 10px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  color: #a2adb8;
  text-align: center;
}

/*main body container*/
.popup_container {
  display: none;
  opacity: 0;
  position: absolute;
  width: 217px;
  border-radius: 5px;
  box-shadow: 0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.08);
  font-size: 15px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: #84d1ff;
  color: #ffffff;
  font-family: "ariallight";
  text-align: center;
  padding: 12px;
}

.chrome_safari {
  top: 17px;
  right: 18px;
}

.firefox {
  top: 17px;
  left: 18px;
}

.edge {
  left: 45%;
  bottom: 2%;
  transform: translate(-45%, 0%);
}

footer {
  background-color: #53627c;
  padding: 22px 0px;
}
footer .content {
  font-weight: normal;
  text-align: right;
  color: #dde0e9;
  font-family: "ariallight";
}
@media only screen and (max-width: 767px) {
  footer .content {
    margin-top: 10px;
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
