footer {
  background-color: #53627c;
  padding: 22px 0px;

  .content {
    font-weight: normal;
    text-align: right;
    color: #dde0e9;
    font-family: "ariallight";
    @media only screen and (max-width: 767px) {
      margin-top: 10px;
      text-align: left;
    }
  }
}
